/**
 * The Nuxt doc theme only allows a very minimal amount of color configuration
 * (only the color of links).
 * To override the default colors with our own, we have to overwrite the CSS
 * applied through Tailwind. To make matter worse, very few of the HTML elements
 * have semantic class/ids for selection, so we have to do some dirty work and
 * select elements by their presentational classes, and overwrite them.
 *
 * All selectors are prefixed with `body[class]` for artificially make weight
 * more than the default Tailwind classes.
 **/
:root {
  --chp-background: #1B202B;
  --chp-detail: #2F3747;
  --chp-text: #A3AEBE;
  --chp-header: #FFFFFF;
  --chp-accent: #6CC3EA;
  --chp-accent-25: #6CC3EA25;
}
/* Main background */
body[class] {
  background-color: var(--chp-background);
}
/* Dark mode switcher (we default to dark mode, and don't really have a light
 * mode) */
body[class] button[aria-label="Color Mode"] {
  display: none;
}

/* Desktop Header
 * Identified by nav.fixed
 **/
body[class] nav.fixed {
  background-color: var(--chp-background);
}
/* Parent element of the logo link.
 * We need to make it take the whole header height so the logo takes the whole
 * space as well
 **/
body[class] nav.fixed .h-16 > .pr-4 {
  height: 100%;
  width: 100%; /* This one is only for mobile */
}
@media (min-width: 1024px) {
  body[class] nav.fixed .h-16 > .pr-4 {
    width: 20%;
  }
}
/* Logo link */
body[class] nav.fixed .h-16 > .pr-4 a[href="/"] {
  background-image: url("/images/logo-white.svg");
  background-repeat: no-repeat;
  height: 100%;
}
/* Header text */
body[class] nav.fixed .h-16 > .pr-4 a[href="/"] span {
  display: none;
}

/*
 * Search bar
 * The search bar is identified by input#search. The suggested results are links
 * in a <ul> absolutely positioned (we identify them with ul.z-10.absolute (yep,
 * it's ugly).
 * We override the class of the selected result by overwriting its
 * .text-primary-500 class (yep, ugly again)
 * */
body[class] input#search {
  background: var(--chp-detail);
}
body[class] input#search:focus {
  border-color: var(--chp-accent);
}
/* Search results */
body[class] ul.z-10.absolute {
  background: var(--chp-detail);
  color: var(--chp-text);
  border-color: var(--chp-accent);
}
/* Currently selected search result */
body[class] ul.z-10.absolute .text-primary-500 {
  background: var(--chp-accent-25);
  color: var(--chp-accent);
}

/* Desktop Left Sidebar / Mobile menu*/
/* Sidebar section headings */
body[class] main.container aside {
  background: var(--chp-background);
}
body[class] main.container aside p.uppercase {
  color: var(--chp-header);
}
/* Sidebar links */
body[class] main.container aside a {
  color: var(--chp-text);
}
body[class] main.container aside a:hover {
  color: var(--chp-accent);
}
/* Current page */
body[class] main.container aside a[aria-current="page"] {
  color: var(--chp-accent);
  background-color: var(--chp-accent-25);
}

/* 
 * UI borders 
 * In Tailwind, all elements have a default border color defined, but a border
 * size of 0 unless specified otherwise, so we overide the default border color
 **/
body[class] *, 
body[class] ::before, 
body[class] ::after {
  border-color: var(--chp-detail);
}

/* 
 * Text content 
 * All page text is inside a .prose element
 * */
body[class] .prose {
  color: var(--chp-text);
}
/* Headers */
body[class] .prose h1, 
body[class] .prose h2, 
body[class] .prose h3, 
body[class] .prose h4, 
body[class] .prose h5, 
body[class] .prose h6 {
  color: var(--chp-header);
}
/* "#" symbol before headers on mobile */
body[class] .prose h1 a:before, 
body[class] .prose h2 a:before, 
body[class] .prose h3 a:before, 
body[class] .prose h4 a:before, 
body[class] .prose h5 a:before, 
body[class] .prose h6 a:before{
  color: var(--chp-accent);
}
/* Links */
body[class] .prose a {
  color: var(--chp-accent);
}
/* Text highlight */
body[class] .prose .nuxt-content-highlight {
  background: var(--chp-detail);
}
/* Inline code */
body[class] .prose code {
  background: var(--chp-detail);
  color: var(--chp-header);
}

/* Next / Previous page section */
body[class] .prose + div + div.grid a {
  color: var(--chp-accent);
}

/* Desktop Right Sidebar */
body[class] nav a.text-primary-500 {
  color: var(--chp-accent);
}


/* Footer */
body[class] footer {
  background: var(--chp-background);
}
/* "Built with Nuxt" icon */
body[class] footer .items-end {
  visibility: hidden;
}
/* Dropdown language selector */
body[class] footer button:hover,
body[class] footer button.text-primary-500 {
  color: var(--chp-accent);
}
body[class] footer .absolute .bg-white {
  background: var(--chp-detail);
}
body[class] footer .absolute a {
  color: var(--chp-text);
}
body[class] footer .absolute a:hover {
  color: var(--chp-accent);
}





