name: goreleaser

on:
  push:
    tags:
      - "v*"
    tags_ignore:
      - "*-test"

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19

      - name: Install cross-compile package
        run: |
          sudo apt update
          sudo apt install -y gcc gcc-aarch64-linux-gnu musl build-essential

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      -
        name: Docker login
        run: |
          docker login -u ${DOCKER_USERNAME} -p ${DOCKER_PASSWORD}
        env:
          DOCKER_USERNAME: ${{ secrets.docker_username }}
          DOCKER_PASSWORD: ${{ secrets.docker_password }}

      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --debug
        env:
          BUILD_TAG: "latest"
          GOPATH: ${{ env.GOPATH }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
